node_modules
.turbo
.DS_Store
*.log
*.tsbuildinfo
.alchemy

# Build output
dist
coverage

# Environment files
.env*
!.env.example
!.env.*.example

# Expo
.expo
.expo-shared
apps/mobile/android
apps/mobile/ios
apps/server/data
